<?xml version="1.0" encoding="utf-8"?>
<!--
  This configuration file is required for Node.js applications on Windows Azure App Service.
  Modern Node.js versions use HttpPlatformHandler instead of iisnode.
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    
    <httpPlatform processPath="D:\Program Files\nodejs\node.exe"
                  arguments="server.js"
                  startupTimeLimit="60"
                  startupRetryCount="3"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\node.log">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
    
    <httpErrors existingResponse="PassThrough" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
